.CategoryArticul {
    color: #3A3A3A;
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.56);



}