.home {
    &__Filter {
        width: 100%;
        max-width: 930px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 89px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__Cards {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 30px;
    }

    &__Card {
        max-width: calc((100% - 10px)/2) !important;
        position: relative !important;
        aspect-ratio: 14/9 !important;

        &:nth-child(3) {
            max-width: 100% !important;
            aspect-ratio: 170/58 !important;
            object-fit: contain;
        }
    }
}

.CategoryBtnActove {

    background: rgba(112, 0, 255, 0.1);
    border: 1px solid #7000FF;
    border-radius: 4px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #7000FF;
}