.BlueButtuns {
    background: #7000FF;
    padding: 22px;
    color: #FFF;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border: none;
    width: 100%;

  
}