.LoginPage {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 103px;
    margin-bottom: 265px;

    &__form {
        margin-top: 50px;
        width: 100%;
        margin-bottom: 80px;
    }
}